
.blink_me {
  animation: blinker 1.1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.top-padding{
  padding-top:20vh;
  
}

.container{
    display: inline-block;
    /* font-family: "arial"; */
    font-size: 24px;
  }
  
  .typed {
    font-size: 1.9vh;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
    font-family: monospace;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

*{
    font-family: ui-monospace;
}

body{
    background-color: rgb(0, 0, 0);
}

.call-to-font{
    font-size: 50px;
    color:white;
}

.call-to-action{
    margin-top: 0vh;
    color: rgb(191, 83, 83);
    /* text-align: center; */
}
.links{
    text-align: center;
    font-size: 30px;
}
.navbarcolor{
    background-color: rgb(155, 108, 51);
}
.main-background-color{
    background-color: rgb(0, 0, 0);
    
}

.hacker-green{
  color: rgb(81, 255, 0);
}
.link-blue{
  color:#1100ff
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    color:white;
}
.social-icon{
    color:white; 
    text-decoration: none;
    margin: 10px;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    .main-background-color{
        background-color: rgb(6, 0, 32);
    }
}

.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
  font-size: 30vh;
  font-family:Arial, Helvetica, sans-serif;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}